.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    animation: zoom 3s ease infinite alternate
  }
  @keyframes zoom {
    0% {
      transform: scale(1);
    }
 
    
    100% {
      transform: scale(1.1); 
    }
  }
  
  .slide {
    border-radius: 0.5rem;
    box-shadow: 0px 0px 7px #666;
    width: 100%;
    height: 100%;
  }
  
  .slide-hidden {
    display: none;
  }
  

  .div-hidden{
    display: none;
  }
  .div1{

    position: fixed;
  bottom : 1vw;
    left: 50%;
    width: 70vw;
    height: 30vw;
    font-size: 3vw;
    color: yellow;
    transform-origin: center center;
    transform: translate(-50%, -50%) rotate(-45deg);
    animation:  appearance 1s ease-in-out forwards;

  }

  @keyframes appearance {
    0% {
      opacity: 0;
      transform: translate(-50%, -50%) rotate(-45deg) scale(0.5);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    }
  }

  .h1{
    position: fixed;
   top : 13vw;
      left: 2%;
      width: 70vw;
      height: 30vw;
      font-size: 4vw;
      color: rgb(250, 250, 238);
      animation: slideInFromTop 1s ease-in-out forwards; /* Adjust the duration and timing function as needed */
      opacity: 0;

  }

  @keyframes slideInFromTop {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  .p{
    position: fixed;
   top : 19vw;
      left: 2%;
      width: 70vw;
      height: 30vw;
      font-size: 2vw;
      color: rgb(250, 250, 238);
      animation: slideInFromTopP 1.5s ease-in-out forwards; /* Adjust the duration and timing function as needed */
      opacity: 0;

  }
  @keyframes slideInFromTopP {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  .button {
    position: fixed;
    top : 24.5vw;
       left: 20%;
       width: 10vw;
       height: 3vw;
       font-size: 1.5vw;
       color: rgb(0, 0, 0);
       border: 2px solid rgb(8, 8, 8);
       animation: slideInFromTopB 2s ease-in-out forwards; /* Adjust the duration and timing function as needed */
       opacity: 0;
       background-color: transparent;
  }
  .button:hover{
border: 2px solid rgb(250, 250, 238);
    color: rgb(250, 250, 238);
  }
  @keyframes slideInFromTopB {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
.logo{
    position: fixed;
    top : 16vw;
         right: 2%;
         width: 10vw;
         height: 10vw;
     
       
}
