.navbar-container{
    height:  10vw;
;   border: 2px solid rgb(11, 58, 4);
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    margin: 0.5vw 1vw;
    align-items: center;
border-radius: 10px;
    
    
    } 
    .navbar-logo{
        margin-right: 3vw;
    }
    
    ul{
    list-style: none;
      padding: 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 6vw;
      margin-right: 1vw;
    
   
    }
    .item-list{
     
        font-weight: 600;
        cursor: pointer;
      text-decoration: none;
      color: black;
      margin-right: 1vw;
      
   

    }

