.drop-btn{
    border: none;
    color : black;
    font-weight: bold;
    font-size: 1.2vw;

}


.drop-open-sitios{
   display: grid;
    grid-template-columns: 1fr  1fr;
    position: absolute;
    right: 10vw;
    background-color: whitesmoke;
    border: 3px solid rgb(0 0 0 / 15%);
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
    z-index: 1;
    margin-top: 10px;
    list-style: none;  
    height: 27vw;
    width: 30vw;
    font-size: 0.95vw;
  
    align-items: center;
    justify-items: center;
    cursor: pointer;
    font-weight: bold;
}
.primeros-7{
    display: flex;
    flex-direction: column;
}
.segundos-6{
    display: flex;
    flex-direction: column;
}

.drop-closed{
    display: none;
}



 .drop-item{
  color: rgb(0 0 0);
  margin: 0;
width: 15vw;
display: flex;
align-items: center;
height: 4vw;

}

.drop-link-interes{
    text-decoration: none;
  color: black;
    cursor: pointer;
    font-size: 0.9vw;
    font-weight: bold;
    width: 10vw;
    margin: 1vw ;
    line-height: 1.2vw;
}

.drop-link-interes:hover{
    color: rgb(100 209 12 / 75.3%);
    transition: 1s;
    scale: 1.1;
}